# Copyright (c) 2017 Linaro Limited
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "Linaro FOTA configuration"

config ZEPHYR_BASE
	string
	option env="ZEPHYR_BASE"

source "$ZEPHYR_BASE/Kconfig.zephyr"

config FOTA_DEVICE
	bool "Enable FOTA device settings"
	default y
	select FOTA_DEVICE_SOC_SERIES_KINETIS_K6X if SOC_SERIES_KINETIS_K6X
	select FOTA_DEVICE_SOC_SERIES_NRF52X if SOC_SERIES_NRF52X
	select FOTA_DEVICE_SOC_SERIES_STM32F4X if SOC_SERIES_STM32F4X
	help
	  Main config to enable device specific settings

config FOTA_DEVICE_SOC_SERIES_KINETIS_K6X
	bool "Kinetis K6x FOTA settings"
	select NET_L2_ETHERNET
	select NET_SHELL
	select NET_IPV4
	select NET_APP_NEED_IPV4
	default n

config FOTA_DEVICE_SOC_SERIES_NRF52X
	bool "Nordic Semiconductor nRF52 FOTA settings"
	select NET_L2_BT
	select NET_L2_BT_ZEP1656
	select NET_IPV6
	select NET_APP_NEED_IPV6
	select TEST_RANDOM_GENERATOR
	select PWM_NRF5_SW
	default n

config FOTA_DEVICE_SOC_SERIES_STM32F4X
	bool "STM32F4x FOTA settings"
	select NET_L2_BT
	select NET_L2_BT_ZEP1656
	select NET_IPV6
	select NET_APP_NEED_IPV6
	select TEST_RANDOM_GENERATOR
	select PWM_STM32
	default n

config SYS_LOG_FOTA_LEVEL
	int "FOTA log level"
	depends on SYS_LOG && FOTA_DEVICE
	default 0
	range 0 4
	help
	  Set the log level for the FOTA library.

	  The available levels are:

	  - 0 OFF: do not write
	  - 1 ERROR: only write SYS_LOG_ERR
	  - 2 WARNING: write SYS_LOG_WRN in addition to previous level
	  - 3 INFO: write SYS_LOG_INF in addition to previous levels
	  - 4 DEBUG: write SYS_LOG_DBG in addition to previous levels

# PWM Application Options

config APP_PWM_WHITE
	bool
	prompt "Enable dedicated PWM for white color"
	default y

if APP_PWM_WHITE

config APP_PWM_WHITE_DEV
	string
	prompt "PWM device name used for white"

config APP_PWM_WHITE_PIN
	int
	prompt "PWM pin number used for white"
	default 0

config APP_PWM_WHITE_PIN_CEILING
	int
	prompt "PWM pin level ceiling"
	default 255
	range 1 255

endif # APP_PWM_WHITE

config APP_PWM_RED
	bool
	prompt "Enable dedicated PWM for red"
	default n

if APP_PWM_RED

config APP_PWM_RED_DEV
	string
	prompt "PWM device name used for red"

config APP_PWM_RED_PIN
	int
	prompt "PWM pin number used for red"
	default 0

config APP_PWM_RED_PIN_CEILING
	int
	prompt "PWM pin level ceiling"
	default 255
	range 1 255

endif # APP_PWM_RED

config APP_PWM_GREEN
	bool
	prompt "Enable dedicated PWM for green"
	default n

if APP_PWM_GREEN

config APP_PWM_GREEN_DEV
	string
	prompt "PWM device name used for green"

config APP_PWM_GREEN_PIN
	int
	prompt "PWM pin number used for green"
	default 0

config APP_PWM_GREEN_PIN_CEILING
	int
	prompt "PWM pin level ceiling"
	default 255
	range 1 255

endif # APP_PWM_GREEN

config APP_PWM_BLUE
	bool
	prompt "Enable dedicated PWM for blue"
	default n

if APP_PWM_BLUE

config APP_PWM_BLUE_DEV
	string
	prompt "PWM device name used for blue"

config APP_PWM_BLUE_PIN
	int
	prompt "PWM pin number used for blue"
	default 0

config APP_PWM_BLUE_PIN_CEILING
	int
	prompt "PWM pin level ceiling"
	default 255
	range 1 255

endif # APP_PWM_BLUE
